@import "../../../assets/theme/_var.scss";

.change_password_page {
    // min-height: calc(100dvh - 16.1rem);
    display: flex;
    align-items: center;

    .form_card {
        max-width: 50rem;
        margin-inline: auto;
        width: 100%;
        backdrop-filter: blur(0.4rem);
        border: 1rem solid $white;
        border-radius: 3.2rem;
        padding: 3rem 2rem;
        box-shadow: 0 0 1rem rgba($black, .15);

        @media (max-width: 991px) {
            padding: 2.4rem;
        }

        .form_input {
            margin-bottom: 1.6rem;
        }

        .submit_btn {
            margin-top: 3.2rem;
        }
    }
}