@import "../../../assets/theme/_var.scss";

.otp_input {
    >div {
        justify-content: space-between;

        input {
            width: 6.5rem !important;
            border-radius: 0.8rem;
            background-color: transparent;
            border: 2px solid rgba($baseclr, 0.4);
            outline: none;
            outline: none;
            height: 4.4rem;
            font-size: 1.6rem;
            color: $black;
            flex-shrink: 0;

            @media (max-width: 575px) {
                width: 4.8rem !important;
            }

            @media (max-width: 399px) {
                width: 3.8rem !important;
                height: 3.8rem;
            }

            &:focus {
                border-color: $baseclr;
            }
        }
    }
}